.rig
  .rig-row
    .rig-item.monitor
      = image_tag('t_monitor.jpg')
    .rig-item.cpu
      = image_tag('t_cpu.jpg')
  .rig-row
    .rig-item.speakers
      = image_tag('t_audio.jpg')
    .rig-item.keyboard
      = image_tag('t_keyboard.jpg')
    .rig-item.mouse
      = image_tag('t_mouse.jpg')
